body{
  margin: 0;
  background-color: white;
  overflow: hidden;
}
form{
  /*position: absolute;
  border: 2px solid black;*/
}
input[type="number"]{
  width: 50px;
}
input{
  width: 100%
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
button:active{
  color: #504caf;
}

.controlsContainer {
  float: right;
  width: 19.5vw;
  height: 100vh;
  padding: 2px 0px 0px 2px;

}


/*#container {
    background-color: #000;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    margin: 10px auto;
    padding: 0px;
}*/
